.home-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;  
  height: 100vh;
}

h1 {
  font-size: 3rem;  
}

p {
  font-size: 1.2rem;  
}

.dash-button-container { 
  display: flex;
  justify-content: center;
}


nav ul {
  list-style-type: none;  
  padding: 0;             
  display: flex;          
  gap: 20px;              
}


.step-circle-container { 
  display: flex;
  justify-content: center;
  position: relative;
}

.step-graph-container { 
  display: flex;
  justify-content: center;
  position: relative;
  top: 10%;
}

#title {
  text-align: center;
}

.dashboardButtonContainer {
  display: flex;
  justify-content: center;
}