#title {
    text-align: center;
  }
  
  .dashboardButtonContainer {
    display: flex;
    justify-content: center;
  }
  
  .search-bar-container {
    padding: 2vh;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 200px;
    position: relative;
  }
  
  #current-split {
    text-align: center;
  }
  
  .current-workout {
    margin: auto;
    text-align: center;
    display: block;
    width: 80%;
    height: fit-content;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .current-workout p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    padding: 5px 0;
  }
  
  .current-workout .exercise {
    flex-grow: 1;
    text-align: left;
  }
  
  .current-workout .set {
    margin-right: 10px;
    text-align: left;
  }
  
  /* 🔥 New button styles */
  .main-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    margin: 5px;
    transition: background-color 0.3s ease;
  }
  
  .main-button:hover {
    background-color: rgb(91, 94, 91);
  }
  
  .remove-button {
    background-color: crimson;
    color: white;
    padding: 6px 12px;
    border-radius: 15px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
  }
  
  .remove-button:hover {
    background-color: darkred;
  }
  
  .reccomend {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    width: 60%;
    margin: 60px auto 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .reccomend h3 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
  }
  
  .reccomend p {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  .reccomend_button {
    background-color: black;
    font-size: 15px;
    color: white;
    padding: 10px 20px;
    border-radius: 25px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .reccomend_button:hover {
    background-color: rgb(91, 94, 91);
  }
  

  .workoutsContainer2 {
    background-color: #f0f0f0;  
    padding: 20px;             
    border-radius: 10px;        
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);  
  }